<div (click)="toggleContent()" class="well pointable">
  <h4 class="well-title">
    <ng-content select="[well-title]"></ng-content>
  </h4>
  <ng-content select="[well-body]" *ngIf="isVisible"></ng-content>
</div>
