<div class="well hoverwell thumbnail" [routerLink]="[ '/events', event.id ]">
  <h2>{{ event.name | uppercase }}</h2>

  <div>Date: {{ event.date | date:'dd/MM/yyyy' }}</div>

  <!-- <div [ngSwitch]="event.time" [ngStyle]="{ color: isEarlyStart ? '#003300' : '#bbb'"> -->
  <!-- <div [ngSwitch]="event.time" [class.green]="isEarlyStart"> -->
  <div [ngSwitch]="event.time" [ngClass]="getStartTimeClass()">
    Time: {{ event.time }}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>

  <div>Price: {{ event.price | currency:'EUR' }}</div>

  <div *ngIf="event.location">
    <span>Location: {{ event.location?.address }}</span>
    <span class="pad-left">{{ event.location?.city }}, {{ event.location?.country }}</span>
  </div>
  <div class="div" *ngIf="event.onlineUrl">
    <span>
      Online Url: {{ event.onlineUrl }}
    </span>
  </div>
</div>
