<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" autocomplete="off" novalidate (ngSubmit)="save()">
      <div class="form-group" [class.error]="!isValid('firstName')">
        <label for="firstName">First Name:</label>
        <em *ngIf="!isValid('firstName') && profileForm.controls['firstName']?.errors.required">Required</em>
        <em *ngIf="!isValid('firstName')  && profileForm.controls['firstName']?.errors.pattern">Must start with a
          letter</em>

        <input id="firstName" type="text" class="form-control" formControlName="firstName"
          placeholder="First Name..." />
      </div>

      <div class="form-group" [class.error]="!isValid('lastName')">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!isValid('lastName')">Required</em>

        <input id="lastName" type="text" class="form-control" formControlName="lastName" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>

      <button type="button" (click)="logout()" class="btn btn-warning" style="float: right;">Logout</button>
    </form>
  </div>
</div>
