<div class="row" *ngFor="let session of filteredSesson">
  <div class="col-md-1">
    <div *ngIf="authService.isAuthenticated">
      <buza-upvote (vote)="toggleVote(session)" [count]="session.voters.length" [hasVoted]="hasUserVoted(session)">
      </buza-upvote>
    </div>
  </div>

  <div class="col-md-10">
    <buza-collapsible-well [title]="">
      <div well-title>
        {{ session.name }}
        &nbsp;
        <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire"></i>
      </div>

      <div well-body>
        <h6>{{session.presenter}}</h6>
        <span>Duration: {{ session.duration | duration }}</span><br />
        <span>Level: {{session.level}}</span>
        <p>{{session.abstract}}</p>
      </div>
    </buza-collapsible-well>
  </div>
</div>
