<div class="voting-widget-container pointable" (click)="onClick()">
  <div class="well voting-widget">
    <div class="voting-button">
      <i class="glyphicon glyphicon-heart" [style.color]="iconColor"></i>
    </div>

    <div class="badge badge-inverse voting-count">
      {{ count }}
    </div>
  </div>
</div>
