.voting-widget-container{
  padding-left: 24px;
}

.voting-widget {
  height: 64px;
  padding-top: 7px;
  border-radius: 21px;
}

.voting-button {
  margin-left: -7px;
  margin-top: 1px;
  cursor: pointer;
}

.voting-button i {
  color: white;
}

.badge-inverse {
  background-color: #fff;
  color: #4e5d5c;
}

.voting-count {
  margin-left: -11px;
  margin-top: 1px;
  font-weight: bold;
  font-size: 14px;
}
