<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off" novalidate>
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em *ngIf="isErrorShown(loginForm, 'userName')">Required</em>
      <input (ngModel)="userName" required id="userName" name="userName" type="text" class="form-control"
        placeholder="User Name..." />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em *ngIf="isErrorShown(loginForm, 'password')">Required</em>
      <input (ngModel)="password" required id="password" name="password" type="password" class="form-control"
        placeholder="Password..." />
    </div>

    <span (mouseenter)="isMouseOverSubmit = true" (mouseleave)="isMouseOverSubmit = false">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </span>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </form>

  <br>

  <div *ngIf="isLoginInvalid" class="alert alert-danger">
    Invalid login info. The correct user name is 'johnpapa', use the password you want
  </div>
</div>

<div class="col-md-2">
  loginForm.valid:<br />
  loginForm.invalid:<br />
  loginForm.dirty:<br />
  loginForm.pristine:<br />
  loginForm.submitted:<br />
  loginForm.touched:<br />
  loginForm.untouched:<br />
</div>

<div class="col-md-1">
  {{ loginForm.valid }}<br />
  {{ loginForm.invalid }}<br />
  {{ loginForm.dirty }}<br />
  {{ loginForm.pristine }}<br />
  {{ loginForm.submitted }}<br />
  {{ loginForm.touched }}<br />
  {{ loginForm.untouched }}<br />
</div>

<div class="col-md-3" style="padding-left: 25px;">
  loginForm.controls.username.valid:<br />
  loginForm.controls.username.invalid:<br />
  loginForm.controls.username.dirty:<br />
  loginForm.controls.username.pristine:<br />
  loginForm.controls.username.touched:<br />
  loginForm.controls.username.untouched:<br />
  <br />
  <br />
  loginForm.controls.password.valid:<br />
  loginForm.controls.password.invalid:<br />
  loginForm.controls.password.dirty:<br />
  loginForm.controls.password.pristine:<br />
  loginForm.controls.password.touched:<br />
  loginForm.controls.password.untouched:<br />
</div>

<div class="col-md-2" style="padding-left: 30px;">
  {{ loginForm.controls['userName']?.valid }}<br />
  {{ loginForm.controls['userName']?.invalid }}<br />
  {{ loginForm.controls['userName']?.dirty }}<br />
  {{ loginForm.controls['userName']?.pristine }}<br />
  {{ loginForm.controls['userName']?.touched }}<br />
  {{ loginForm.controls['userName']?.untouched }}<br />
  <br />
  <br />
  {{ loginForm.controls['password']?.valid }}<br />
  {{ loginForm.controls['password']?.invalid }}<br />
  {{ loginForm.controls['password']?.dirty }}<br />
  {{ loginForm.controls['password']?.pristine }}<br />
  {{ loginForm.controls['password']?.touched }}<br />
  {{ loginForm.controls['password']?.untouched }}<br />
</div>
