<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">ngEvents</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="[ '/events' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            All Events
          </a>
        </li>
        <li>
          <a [routerLink]="[ '/events/new' ]" routerLinkActive="active">
            Create Event
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a *ngFor="let event of events" [routerLink]="['/events', event.id ]">{{ event.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!isAuthenticated" [routerLink]="[ 'users/login' ]">Log In</a>
            <a *ngIf="isAuthenticated" [routerLink]="[ 'users/profile' ]">Welcome {{ firstName }}</a>
          </li>
        </ul>
      </div>
      <form id="search-form" (ngSubmit)="searchSessions(searchTerm)" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" class="form-control"
            placeholder="Search Sessions">
        </div>
        <button class="btn btn-default" buzaModalTrigger="searchResults">
          Search
        </button>
      </form>
    </div>
  </div>
</div>

<buza-simple-modal elementId="searchResults" [closeOnBodyClick]="true" title="Matching Sessions">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="[ '/events', session.eventId ]">
      {{ session.name }}
    </a>
  </div>
</buza-simple-modal>
